/* primary-text-color  #212121
secondary-text-color #757575
background-color #2196F3 #000000*/


:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --bg-hover-logo: #2196F3
}

/* BODY */
.body {
    --primary-text-color: #212121;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em
}

a {text-decoration: none;}

ul {
    list-style: none;
}

h1,h2,h3,p,ul { 
    margin: 0;
    padding: 0;
} 
.container {
   
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    
  
}

/* HEDER */


/* Main-heder */
.site-heder {
    border-bottom: 1px solid #ECECEC;
}
.main-heder,
.nav-title {
    display: flex;
    align-items: center;
}

/* logo */
.logo-web {
    color: var(--bg-hover-logo);
}
.logo-studio {
    color: #000000;
}
.logo {
    margin-right: 93px;

    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;

        text-decoration: none;
}

/* link-nav */
.nav {
    display: flex;
}


.nav .item:not(:last-child) {
    margin-right: 50px;
}

.link-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

        color: var(--primary-text-color);
  
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        }
.link-nav.current {
    color: var(--bg-hover-logo);
}

.link-nav:hover,
.link-nav:focus {
    color: var(--bg-hover-logo);
}

/* link-auth */

.auth {
    display: flex;
    margin-left: auto;
}

.auth .item + .item {
    margin-left: 50px;
}

.link-auth {


    color: var(--secondary-text-color);

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.link-auth:hover,
.link-auth:focus {
    color: var(--bg-hover-logo);
}

/* HYRO */
.hyro {
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hyro-text {
    color: #FFFFFF;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
       
        letter-spacing: 0.06em;
        text-transform: uppercase;

        width: 696px;
        height: 120px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;

}
.hyro-button {
    background-color: var(--bg-hover-logo);
    color: #FFFFFF;
    border: none;
    cursor: pointer;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        font-family: inherit;

    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    padding: 0px;
  
}

/* about company */

.section {
    padding-top: 94px;
        padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits {
    display: flex;
    width: calc((100%-90px) / 4);

}
.benefit-item { 
    margin-right: 30px;
}
.benefit-item:last-child {
    margin-right: 0px;
}

.title-section {

    color: var(--primary-text-color);

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;

        margin-bottom: 10px;
}
.text-section {


    color: var(--secondary-text-color);
        width: 270px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
}
/* work */
.work-section { 
    padding-bottom: 94px;
}
.work-item {
    display: flex;
    
    
}
.work-image {
    margin-right: 30px;
}

.work-image:last-child {
    margin-right: 0px;
}

.work {
    color: var(--primary-text-color);

        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;

        margin-bottom: 50px;
}
/* TEAM */
.backcolor {
    background-color: #F5F4FA;


}
.title-team {


    color: var(--primary-text-color);

        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;

        margin-bottom: 50px;
}

.team-item {
    display: flex;

}

.team-image {

        width: calc((100%-90px) / 4);
        margin-right: 30px;
}
.team-image:last-child {
    margin-right: 0;
}

.inform-team {
    padding-top: 30px;
    padding-bottom: 30px;
}

.title-name {

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        margin-bottom: 10px;
}
.text-team {
    color: var(--secondary-text-color);

            font-weight: 400;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;

}
/* --FOOTER-- */

.site-footer {
    background-color: #2F303A;
    padding-top: 50px;
    padding-bottom: 60px;
}
.footer-studio {
    color: #FFFFFF;
}


.link-block {
    display: block;
    margin-right: auto;
    margin-bottom: 20px;
}


.address {
    font-family: Roboto, sans-serif;
    
}

.footer-address {

        display: block;        
    color: #FFFFFF;

        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;

}

.footer-link {
    margin-top: 9px;
}

.footer-data {

        display: block;
    color: rgba(255, 255, 255, 0.6);

        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
}


.footer-data:hover,
.footer-data:focus {
    color: var(--bg-hover-logo);
}

/* SECOND page */
/* section button */

.btn-flex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-flex-element {

    margin-right: 8px;
    
}

.btn-flex-element:last-child {
    margin-right: 0px;
}

.btn {background-color: rgba(245, 244, 250, 1);
color: var(--primary-text-color);
border: none;
cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    font-family: inherit;

    border-radius: 4px;

    padding: 0px;
}

.btn-element {
    display: block;
    padding: 6px 22px;
}

.btn:hover,
.btn:focus {
    background-color: var(--bg-hover-logo);
    color: rgba(255, 255, 255, 1);
}

.flex-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
}

.flex-element {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    

}
.flex-element:nth-child(3n) {
    margin-right: 0px;
}
.flex-element:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}


/* section portfolio */
.img {
    display: block;
}
.imeges {
    padding: 20px;
    border: 1px solid #EEEEEE;
}

.title-portfolio {

    color: var(--primary-text-color);

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}
.page-portfolio {
    
        margin-top: 4px;
    color: var(--secondary-text-color);

        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;

}
